stages:
  - check_pkgbuild
  - build_package
  - install_package
  - check_package
  - deploy_package

check_pkgbuild:
  image: ${CI_REGISTRY}/personal/homelab/docker/arch-pkg-build:latest
  stage: check_pkgbuild
  script:
    - namcap PKGBUILD > PKGBUILD.namcap.out
  artifacts:
    paths:
      - PKGBUILD.namcap.out

build_package:
  image: ${CI_REGISTRY}/personal/homelab/docker/arch-pkg-build:latest
  stage: build_package
  script:
    - makepkg --syncdeps --noconfirm --log --check
  artifacts:
    paths:
      - "*.log"
      - "*.pkg.tar.xz"

check_package:
  image: ${CI_REGISTRY}/personal/homelab/docker/arch-pkg-build:latest
  stage: check_package
  script:
    - namcap *.pkg.tar.xz > PKG.namcap.out
  artifacts:
    paths:
      - PKG.namcap.out
      
deploy_package:
  stage: deploy_package
  tags:
    - python
  script:
    - mkdir ~/.aws/
    - touch ~/.aws/credentials
    - pip install awscli
    - printf "[eb-cli]\naws_access_key_id = %s\naws_secret_access_key = %s\n" "$AWS_ACCESS_KEY_ID" "$AWS_SECRET_ACCESS_KEY" >> ~/.aws/credentials
    - aws s3 sync *.pkg.tar.xz s3://s3.eu-central-1.wasabisys.com/my-arch-repo/ --acl public-read