image: ${CI_REGISTRY}/personal/homelab/docker/arch-pkg-build:latest

stages:
  - check_pkgbuild
  - build_package
  - install_package
  - check_package

check_pkgbuild:
  stage: check_pkgbuild
  script:
    - namcap PKGBUILD > PKGBUILD.namcap.out
  artifacts:
    paths:
      - PKGBUILD.namcap.out

build_package:
  stage: build_package
  script:
    - makepkg --syncdeps --noconfirm --log --check
  artifacts:
    paths:
      - "*.log"
      - "*.pkg.tar.xz"

install_package:
  stage: install_package
  script:
    - sudo pacman -U *.pkg.tar.xz

check_package:
  stage: check_package
  script:
    - namcap *.pkg.tar.xz > PKG.namcap.out
  artifacts:
    paths:
      - PKG.namcap.out