stages:
  - check_pkgbuild
  - build_package
  - install_package
  - check_package
  - build_repo
  - deploy_package

check_pkgbuild:
  image: ${CI_REGISTRY}/personal/homelab/docker/arch-pkg-build:latest
  stage: check_pkgbuild
  script:
    - namcap PKGBUILD > PKGBUILD.namcap.out
  artifacts:
    paths:
      - PKGBUILD.namcap.out

build_package:
  image: ${CI_REGISTRY}/personal/homelab/docker/arch-pkg-build:latest
  stage: build_package
  script:
    - makepkg --syncdeps --noconfirm --log --check
  artifacts:
    paths:
      - "*.log"
      - "*.pkg.tar.xz"

build_repo:
  image: ${CI_REGISTRY}/personal/homelab/docker/arch-pkg-build:latest
  state: build_repo
  script:
    - mkdir -p local-repo
    - repo-add local-repo/higherlearning.db.tar.xz
  cache:
    paths:
      - local-repo/

check_package:
  image: ${CI_REGISTRY}/personal/homelab/docker/arch-pkg-build:latest
  stage: check_package
  script:
    - namcap *.pkg.tar.xz > PKG.namcap.out
  artifacts:
    paths:
      - PKG.namcap.out
      
deploy_package:
  image: andthensome/awscli
  stage: deploy_package
  script:
    - aws s3 sync . --endpoint-url=https://s3.eu-central-1.wasabisys.com s3://my-arch-repo/ --acl public-read --exclude "*" --include "*.pkg.tar.xz"