stages:
    - compile

services:
    - docker:dind

build:package:
    stage: compile
    image: registry.higherlearning.eu/personal/homelab/docker/arch-pkg-build
    script:
        - sudo -u builduser bash -c 'makepkg -s'